body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: #057f46;
    color: white;
    text-align: center;
    padding: 20px;
  }

  h1 {
color:#bcf8db
  }
  
.text-center {
  text-align: center;
}

  h2, h3 {
    color: #181918;
  }

  .text-left {
    text-align: left;
  }

  nav ul li a {
    color:#2019f6;
  }

  article {
    margin-right: 150px;
    padding-top: 150px;
  }

  aside {
    background-color: #9bd6bb;
    position: absolute;
   bottom: 190px;
    left: 0.5%;
    width: 250px;
  }

  img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }

  section {
    background-color: #76ba9a;
    padding-left: 3%;
  }

  footer {
    background-color: #057f46;
    text-align: center;
  }